{% load static %}

<div class="email-innovation" style="background-image: url({% static 'img/bg/others2-bg.png' %}); background-position: center center; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="headding2-w">
          <h2>
            تجربه‌ای هوشمندانه‌تر با آکسون‌نگار
          </h2>
          <div class="space16"></div>
          <p>
            آکسون‌نگار فقط یک چت‌بات نیست — یک فضای گفت‌وگو با هوش مصنوعی است که دقیقاً
            طبق سلیقه و نیاز شما عمل می‌کند. از میان مدل‌های مختلف مثل <b>GPT</b>، <b>Gemini</b>،
            و مدل‌های سفارشی انتخاب کنید و به چت‌بات خود شخصیت بدهید.
          </p>
          <div class="space16"></div>
          <p>
            حالت‌های مختلف، تنظیمات دقیق و ظاهر پویا، تجربه‌ای منحصربه‌فرد برای هر کاربر ایجاد می‌کنند.
          </p>
          <div class="space30"></div>
          <a class="theme-btn3" href="#">
            شروع رایگان
          </a>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="images">
          <div class="image1">
            <img alt="" src="{% static 'img/others/others2-image.png' %}" />
          </div>
          <div class="image2">
            <img alt="" src="{% static 'img/shapes/others2-shape1.png' %}" />
          </div>
          <div class="image3">
            <img alt="" src="{% static 'img/shapes/others2-shape2.png' %}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>