{% load static %}

<div class="brand-area3 sp">
   <div class="container">
    <div class="row">
     <div class="col-lg-6 m-auto text-center">
      <div class="headding2">
       <h2>همراهی با بیش از ۳۰۰۰ برند</h2>
       <div class="space10"></div>
       <p>
        به جامعه‌ی روبه‌رشد کاربران آکسون‌نگار بپیوندید و با اتوماسیون محتوا، رشد دیجیتال خود را شتاب دهید.
       </p>
       <div class="space20"></div>
       <a class="theme-btn2" href="#">
        شروع همکاری
       </a>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="big-logo" data-tilt="" data-tilt-full-page-listening="" data-tilt-perspective="3000">
      <img alt="" src="{% static 'img/logo/brand-logo3.png' %}"/>
     </div>
    </div>
   </div>
  </div>