{% load static %}

<header>
   <div class="header-area header-area6 header-area-all d-none d-lg-block" id="header">
    <div class="container">
     <div class="row">
      <div class="col-12">
       <div class="header-elements">
        <div class="site-logo home1-site-logo">
         <a href="index.html">
          <img alt="" src="{% static 'img/logo/header-logo6.png' %}"/>
         </a>
        </div>
        <div class="main-menu-ex main-menu-ex1">
         <ul>
          <li>
           <a href="about.html">
            درباره ما
           </a>
          </li>
          <li class="dropdown-menu-parrent">
           <a href="#">
            صفحات
            <i class="fa-solid fa-angle-down">
            </i>
           </a>
           <ul>
            <li>
             <a href="contact.html">
              تماس با ما
             </a>
            </li>
            <li>
             <a href="features.html">
              ویژگی‌ها
             </a>
            </li>
            <li>
             <a href="testimonial.html">
              گواهی‌نامه
             </a>
            </li>
            <li>
             <a href="pricing.html">
              قیمت‌گذاری
             </a>
            </li>
            <li>
             <a href="download.html">
              دانلود
             </a>
            </li>
            <li>
             <a href="error.html">
              ۴۰۴
             </a>
            </li>
           </ul>
          </li>
          <li class="dropdown-menu-parrent">
           <a href="#">
            وبلاگ
            <i class="fa-solid fa-angle-down">
            </i>
           </a>
           <ul>
            <li>
             <a href="blog.html">
              وبلاگ
             </a>
            </li>
            <li>
             <a href="blog-details-sidebar-right.html">
              جزئیات سمت راست
             </a>
            </li>
            <li>
             <a href="blog-details-sidebar-left.html">
              جزئیات سمت چپ
             </a>
            </li>
            <li>
             <a href="blog-details.html">
              جزئیات وبلاگ
             </a>
            </li>
           </ul>
          </li>
         </ul>
        </div>
        <div class="header4-buttons">
         <a class="theme-btn8" href="account.html">
          <span class="tb8">
           همین حالا شروع کنید
           <span class="arrow">
            <i class="fa-solid fa-arrow-left">
            </i>
           </span>
          </span>
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </header>