{% load static %}

<header>
    {% if request.path == '/' %}
        <div class="header-area header-area6 header-area-all d-none d-lg-block" id="header">
    {% else %}
        <div class="header-area header-area2 header-area-all d-none d-lg-block" id="header">
    {% endif %}
    <div class="container">
     <div class="row">
      <div class="col-12">
       <div class="header-elements">
        <div class="site-logo home1-site-logo">
         <a href="{% url 'root:root' %}">
        {% if request.path == '/' %}
            <img alt="" src="{% static 'img/logo/header-logo6.png' %}"/>
        {% else %}
            <img alt="" src="{% static 'img/logo/header-logo2.png' %}"/>
        {% endif %}
         </a>
        </div>
        <div class="main-menu-ex main-menu-ex1">
         <ul>
          <li class="dropdown-menu-parrent">
           <a href="#">
            درباره ما
            <i class="fa-solid fa-angle-down">
            </i>
           </a>
           <ul>
            <li>
             <a href="{% url 'root:about-axonnegar' %}">
              درباره آکسون‌نگار
             </a>
            </li>

            <li>
             <a href="{% url 'root:contact-us' %}">
              تماس با ما
             </a>
            </li>
           </ul>
          </li>

          <li>
           <a href="{% url 'root:weblog-list' %}">
            وبلاگ
           </a>
          </li>

          <li>
           <a href="{% url 'root:faq-list' %}">
            سوالات متداول
           </a>
          </li>

         </ul>
        </div>
        <div class="header4-buttons">
         <a class="theme-btn8" href="account.html">
          <span class="tb8">
           همین حالا شروع کنید
           <span class="arrow">
            <i class="fa-solid fa-arrow-left">
            </i>
           </span>
          </span>
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </header>