{% load static %}

  <div class="footer6 _relative">
   <div class="container bg">
    <div class="row">
     <div class="col-lg col-md-6 col-6">

         enamad

     </div>
     <div class="col-lg col-md-6 col-6">
      <div class="single-footer-items">
       <h3>
        دانلود
       </h3>
       <ul class="menu-list">

        <li>
         <a href="{% url 'root:download-release' os_name='android' %}">
          اندروید
         </a>
        </li>

        <li>
         <a href="{% url 'root:download-release' os_name='windows' %}">
          ویندوز
         </a>
        </li>

        <li>
         <a href="{% url 'root:download-release' os_name='linux_deb' %}">
          لینوکس (Debian)
         </a>
        </li>

       <li>
         <a href="{% url 'root:download-release' os_name='linux_rpm' %}">
          لینوکس (RedHat)
         </a>
        </li>

        <li>
         <a href="#">
          وب اپلیکیشن
         </a>
        </li>

       </ul>
      </div>
     </div>
     <div class="col-lg-3 col-md-6 col-12">
      <div class="single-footer-items">
       <h3>
        لینک‌های اجتماعی
       </h3>
       <ul class="social-icons">

        <li>
         <a href="#">
          <i class="fa-brands fa-github">
          </i>
         </a>
        </li>

        <li>
         <a href="#">
          <i class="fa-brands fa-telegram">
          </i>
         </a>
        </li>

        <li>
         <a href="#">
          <i class="fa-brands fa-instagram">
          </i>
         </a>
        </li>

       </ul>
      </div>
     </div>
    </div>
    <div class="space40">
    </div>
    <div class="copyright-area">
     <div class="row align-items-center">
      <div class="col-md-5">
       <div class="logo">
        <a href="index.html">
         <img alt="" src="{% static 'img/logo/footer-logo6.png' %}"/>
        </a>
       </div>
      </div>
      <div class="col-md-7">
       <div class="coppyleft text-left">
        <a href="#">
         آکسون‌نگار - ۱۴۰۴
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>