{% load static %}

  <div class="footer6 _relative">
   <div class="container bg">
    <div class="row">
     <div class="col-lg col-md-6 col-6">

         <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=676556&Code=lZrtocyaNp2UIs2Kv4l0RKr940McWb3q'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=676556&Code=lZrtocyaNp2UIs2Kv4l0RKr940McWb3q' alt='' style='cursor:pointer' code='lZrtocyaNp2UIs2Kv4l0RKr940McWb3q'></a>

     </div>
     <div class="col-lg col-md-6 col-6">
      <div class="single-footer-items">
       <h3>
        دانلود
       </h3>
       <ul class="menu-list">

        <li>
         <a href="{% url 'root:download-release' os_name='android' %}">
          اندروید
         </a>
        </li>

        <li>
         <a href="{% url 'root:download-release' os_name='windows' %}">
          ویندوز
         </a>
        </li>

        <li>
         <a href="{% url 'root:download-release' os_name='linux_deb' %}">
          لینوکس
         </a>
        </li>

        <li>
         <a href="#">
          وب اپلیکیشن
         </a>
        </li>

       </ul>
      </div>
     </div>
     <div class="col-lg-3 col-md-6 col-12">
      <div class="single-footer-items">
       <h3>
        لینک‌های اجتماعی
       </h3>
       <ul class="social-icons">

        <li>
         <a href="https://github.com/PouyaBaniadam">
          <i class="fa-brands fa-github">
          </i>
         </a>
        </li>

        <li>
         <a href="https://t.me/PouyaBaniadam">
          <i class="fa-brands fa-telegram">
          </i>
         </a>
        </li>

        <li>
         <a href="https://instagram.com/PouyaLj2000">
          <i class="fa-brands fa-instagram">
          </i>
         </a>
        </li>

       </ul>
      </div>
     </div>
    </div>
    <div class="space40">
    </div>
    <div class="copyright-area">
     <div class="row align-items-center">
      <div class="col-md-5">
       <div class="logo">
        <a href="{% url 'root:root' %}">
         <img alt="" src="{% static 'img/logo/logo.png' %}"/>
        </a>
       </div>
      </div>
      <div class="col-md-7">
       <div class="coppyleft text-left">
        <a href="#">
         آکسون‌نگار - ۱۴۰۴
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>