{% load static %}

  <div class="footer6 _relative">
   <div class="container bg">
    <div class="row">
     <div class="col-lg-5">
      <div class="subscribe-area">
       <h5>
        در خبرنامه ما مشترک شوید
       </h5>
       <p>
        ای‌سافت از هر نظر فراتر از انتظارات ما عمل کرده است. سهولت استفاده و کدام موتور جستجو
       </p>
       <div class="input-area">
        <input placeholder="آدرس ایمیل" type="email"/>
        <div class="button">
         <button class="theme-btn9">
          <span class="tb8">
           همین حالا شروع کنید
           <span class="arrow">
            <i class="fa-solid fa-arrow-left">
            </i>
           </span>
          </span>
         </button>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg col-md-6 col-6">
      <div class="single-footer-items">
       <h3>
        منابع
       </h3>
       <ul class="menu-list">
        <li>
         <a href="#">
          جامعه
         </a>
        </li>
        <li>
         <a href="#">
          شرکت‌های وابسته
         </a>
        </li>
        <li>
         <a href="#">
          مشارکت‌ها
         </a>
        </li>
        <li>
         <a href="#">
          مزایا و امتیازات
         </a>
        </li>
        <li>
         <a href="#">
          اسناد API
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="col-lg col-md-6 col-6">
      <div class="single-footer-items">
       <h3>
        دانلود
       </h3>
       <ul class="menu-list">
        <li>
         <a href="#">
          آیفون و آیپد
         </a>
        </li>
        <li>
         <a href="#">
          اندروید
         </a>
        </li>
        <li>
         <a href="#">
          مک او اس
         </a>
        </li>
        <li>
         <a href="#">
          پنجره
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="col-lg-3 col-md-6 col-12">
      <div class="single-footer-items">
       <h3>
        لینک‌های اجتماعی
       </h3>
       <ul class="social-icons">
        <li>
         <a href="#">
          <i class="fa-brands fa-linkedin-in">
          </i>
         </a>
        </li>
        <li>
         <a href="#">
          <i class="fa-brands fa-x-twitter">
          </i>
         </a>
        </li>
        <li>
         <a href="#">
          <i class="fa-brands fa-youtube">
          </i>
         </a>
        </li>
        <li>
         <a href="#">
          <i class="fa-brands fa-instagram">
          </i>
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="space40">
    </div>
    <div class="copyright-area">
     <div class="row align-items-center">
      <div class="col-md-5">
       <div class="logo">
        <a href="index.html">
         <img alt="" src="{% static 'img/logo/footer-logo6.png' %}"/>
        </a>
       </div>
      </div>
      <div class="col-md-7">
       <div class="coppyleft text-left">
        <a href="#">
         @1404 ای‌سافت
        </a>
        <a href="#">امنیت</a>
        <a href="#">
         حریم خصوصی شما
        </a>
        <a href="#">
         شرایط و ضوابط
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>