{% load static %}

  <div class="mobile-header mobile-header3 d-block d-lg-none">
   <div class="container-fluid">
    <div class="col-12">
     <div class="mobile-header-elements">
      <div class="mobile-logo">
       <a href="index1.html">
        <img alt="" src="{% static 'img/logo/header-logo2.png' %}"/>
       </a>
      </div>
      <div class="mobile-nav-icon">
       <i class="fa-duotone fa-bars-staggered">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="mobile-sidebar mobile-sidebar4 d-block d-lg-none">
   <div class="logo-m">
    <a href="index.html">
     <img alt="" src="{% static 'img/logo/header-logo1.png' %}"/>
    </a>
   </div>
   <div class="menu-close">
    <i class="fa-solid fa-xmark">
    </i>
   </div>
   <div class="mobile-nav">
    <ul>
     <li>
      <a href="about.html">
       درباره ما
      </a>
     </li>
     <li class="has-dropdown">
      <a href="#">
       صفحات
      </a>
      <ul class="sub-menu">
       <li>
        <a href="contact.html">
         تماس با ما
        </a>
       </li>
       <li>
        <a href="features.html">
         ویژگی‌ها
        </a>
       </li>
       <li>
        <a href="testimonial.html">
         گواهی‌نامه
        </a>
       </li>
       <li>
        <a href="pricing.html">
         قیمت‌گذاری
        </a>
       </li>
       <li>
        <a href="download.html">
         دانلود
        </a>
       </li>
       <li>
        <a href="error.html">
         ۴۰۴
        </a>
       </li>
      </ul>
     </li>
     <li class="has-dropdown">
      <a href="#">
       وبلاگ
      </a>
      <ul class="sub-menu">
       <li>
        <a href="blog.html">
         وبلاگ
        </a>
       </li>
       <li>
        <a href="blog-details-sidebar-right.html">
         جزئیات سمت راست
        </a>
       </li>
       <li>
        <a href="blog-details-sidebar-left.html">
         جزئیات سمت چپ
        </a>
       </li>
       <li>
        <a href="blog-details.html">
         جزئیات وبلاگ
        </a>
       </li>
      </ul>
     </li>
    </ul>
    <a class="sidebar1-btn" href="contact.html">
     <span>
      رزرو مشاوره
     </span>
     <span class="arrow">
      <i class="fa-regular fa-arrow-left">
      </i>
     </span>
    </a>
    <div class="contact-infos">
     <h3>
      اطلاعات تماس
     </h3>
     <div class="box">
      <div class="icon">
       <span>
        <i class="fa-regular fa-phone">
        </i>
       </span>
      </div>
      <div class="pera">
       <a href="tel:921-888-0022">
        ۹۲۱-۸۸۸-۰۰۲۲
       </a>
      </div>
     </div>
     <div class="box">
      <div class="icon">
       <span>
        <i class="fa-regular fa-envelope">
        </i>
       </span>
      </div>
      <div class="pera">
       <a href="mailto:example@visafast.com">
        example@visafast.com
       </a>
      </div>
     </div>
    </div>
    <div class="contact-infos">
     <h3>
      موقعیت مکانی ما
     </h3>
     <div class="box">
      <div class="icon">
       <span>
        <i class="fa-regular fa-location-dot">
        </i>
       </span>
      </div>
      <div class="pera">
       <a href="#">
        ۵۵ خیابان ایست بیرچوود، بروکلین،
        <br/>
        نیویورک، کد پستی ۱۱۲۰۱، ایالات متحده
       </a>
      </div>
     </div>
    </div>
    <div class="contact-infos">
     <h3>
      موقعیت مکانی ما
     </h3>
     <ul class="icon-list">
      <li>
       <a href="#">
        <i class="fa-brands fa-linkedin-in">
        </i>
       </a>
      </li>
      <li>
       <a href="#">
        <i class="fa-brands fa-x-twitter">
        </i>
       </a>
      </li>
      <li>
       <a href="#">
        <i class="fa-brands fa-youtube">
        </i>
       </a>
      </li>
      <li>
       <a href="#">
        <i class="fa-brands fa-instagram">
        </i>
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>