{% load static %}

<!-- Mobile Header Top Bar -->
<div class="mobile-header mobile-header3 d-block d-lg-none">
    <div class="container-fluid">
        <div class="col-12">
            <div class="mobile-header-elements">
                <div class="mobile-logo">
                    <a href="{% url 'root:root' %}">
                        <img alt="" src="{% static 'img/logo/logo.png' %}"/>
                    </a>
                </div>
                <div class="mobile-nav-icon">
                    <i class="fa-duotone fa-bars-staggered"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mobile Sidebar (Off-canvas Menu) -->
<div class="mobile-sidebar mobile-sidebar4 d-block d-lg-none">
    <div class="logo-m">
        <a href="{% url 'root:root' %}">
            <img alt="" src="{% static 'img/logo/logo.png' %}"/>
        </a>
    </div>
    <div class="menu-close">
        <i class="fa-solid fa-xmark"></i>
    </div>

    <div class="mobile-nav">
        <ul>
            <!-- Home -->
            <li>
                <a href="{% url 'root:root' %}">
                    خانه
                </a>
            </li>

            <!-- Download -->
            <li>
                <a href="{% url 'root:downloads' %}">
                    دانلود
                </a>
            </li>

            <!-- About Us (Dropdown) -->
            <li class="has-dropdown">
                <a href="#">
                    درباره ما
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{% url 'root:about-axonnegar' %}">
                            درباره آکسون‌نگار
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'root:contact-us' %}">
                            تماس با ما
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Weblog -->
            <li>
                <a href="{% url 'root:weblog-list' %}">
                    وبلاگ
                </a>
            </li>

            <li>
                <a href="{% url 'root:plans' %}">
                    اشتراک‌ها
                </a>
            </li>

            <!-- FAQ -->
            <li>
                <a href="{% url 'root:faq-list' %}">
                    سوالات متداول
                </a>
            </li>
        </ul>

        <!-- CTA Button (Matches Desktop) -->
        <a class="sidebar1-btn" target="_blank" href="https://app.axonnegar.ir">
            <span>
                همین حالا شروع کنید
            </span>
            <span class="arrow">
                <i class="fa-solid fa-arrow-left"></i>
            </span>
        </a>
    </div>
</div>