{% load static %}

    <div class="overlay flex cac vac preloader-parent">
   <div>
    <div class="loader preloader flex vac">
     <svg height="200" width="200">
      <circle class="background" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)">
      </circle>
      <circle class="outer" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)">
      </circle>
     </svg>
     <span class="circle-background">
     </span>
     <span class="logo animated fade-in">
      <img alt="" src="{% static 'img/logo/logo.png' %}"/>
     </span>
    </div>
   </div>
  </div>