{% extends 'base.html' %}
{% load static %}

{% block title %}۴۰۴ | آکسون‌نگار{% endblock %}

{% block content %}
  <!--=====log in area start=======-->
  <div class="error-all sp _relative">
   <div class="container">
    <div class="space80">
    </div>
    <div class="row align-items-center">
     <div class="col-lg-8 m-auto">
      <div class="erro-page">
       <div class="image">
        <img alt="" src="{% static 'img/others/error.png' %}"/>
       </div>
       <div class="headding2 text-center">
        <h2>
         ببخشید، مشکلی پیش آمد
        </h2>
        <div class="space16">
        </div>
        <p>
         اما نگران نباشید، ما پشتیبان شما هستیم. در اینجا چند گزینه برای بازگرداندن شما به مسیر درست وجود دارد: با پشتیبانی تماس بگیرید: اگر فکر می‌کنید مشکلی در سایت ما وجود دارد.
        </p>
        <div class="space30">
        </div>
        <a class="theme-btn2" href="index.html">
         بازگشت به صفحه اصلی
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
   <img alt="" class="shape1" src="{% static 'img/shapes/apps-shape1.png' %}"/>
   <img alt="" class="shape2" src="{% static 'img/shapes/apps-shape1.png' %}"/>
  </div>
  <!--=====log in area end=======-->
{% endblock %}