{% extends 'base.html' %}
{% load static %}

{% block title %}درباره برنامه | آکسون‌نگار{% endblock %}

{% block content %}

  <!--===== HERO AREA START =======-->
  <div class="pages-hero">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-6">
      <div class="main-headding">
       <h1>
        درباره آکسون‌نگار
       </h1>
       <p>
        آکسون‌نگار ترکیبی از خلاقیت، فناوری و هوش مصنوعی است.
        ما ابزارهایی طراحی می‌کنیم که به برندها کمک می‌کند سریع‌تر، هوشمندتر و مؤثرتر محتوا تولید کنند.
       </p>
       <div class="space30"></div>
       <div class="hero-btns">
        <a class="theme-btn3" target="_blank" href="https://app.axonnegar.ir">
         شروع به استفاده
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-6">
      <div class="hero-image shape-animaiton3">
       <img alt="about axon negar" src="{% static 'img/hero/wallpaper-1.png' %}"/>
      </div>
     </div>
    </div>
   </div>
   <img alt="" class="hero-shape1" src="{% static 'img/shapes/common-hero-shape1.png' %}"/>
   <img alt="" class="hero-shape2" src="{% static 'img/shapes/common-hero-shape2.png' %}"/>
  </div>
  <!--===== HERO AREA END =======-->

  <!--===== ABOUT BOXS START =======-->
  <div class="about-boxs">
   <div class="container">
    <div class="row">
     <div class="col-lg-4 col-md-6">
      <div class="single-box">
       <div class="icon">
        <img alt="" src="{% static 'img/icons/about-page-box1.png' %}"/>
       </div>
       <div class="headding2">
        <h2>+۱۰۰</h2>
        <p>مشتری فعال</p>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-6">
      <div class="single-box">
       <div class="icon">
        <img width="56" height="56" alt="" src="{% static 'img/icons/about-page-sec-icon2.png' %}"/>
       </div>
       <div class="headding2">
        <h2>+۲۵</h2>
        <p>مود هوش مصنوعی برای کارهای مختلف</p>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-6">
      <div class="single-box">
       <div class="icon">
        <img alt="" src="{% static 'img/icons/about-page-box3.png' %}"/>
       </div>
       <div class="headding2">
        <h2>۹۰٪+</h2>
        <p>رضایت از کیفیت و پشتیبانی</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!--===== ABOUT BOXS END =======-->

  <!--===== ABOUT PAGE AREA START =======-->
  <div class="about-page-area1 sp">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-6">
      <div class="about-img">
       <img alt="axon negar about" src="{% static 'img/hero/wallpaper-2.png' %}"/>
      </div>
     </div>
     <div class="col-lg-6">
      <div class="headding2">
       <h2>آکسون‌نگار؛ هم‌قدم خلاقیت شما</h2>
       <div class="space16"></div>
       <p>
        ما در آکسون‌نگار باور داریم که تولید محتوا نباید دشوار، زمان‌بر یا پرهزینه باشد.
        با استفاده از هوش مصنوعی و طراحی کاربرمحور، بستری فراهم کرده‌ایم تا تیم‌ها بتوانند محتوا را سریع‌تر بسازند، تحلیل کنند و منتشر کنند.
       </p>
       <ul class="list">
        <li><span><i class="fa-solid fa-check"></i></span>افزایش بازده تیم تولید محتوا</li>
        <li><span><i class="fa-solid fa-check"></i></span>تحلیل عملکرد محتوا با داده‌های واقعی</li>
        <li><span><i class="fa-solid fa-check"></i></span>مود های مختلف برای کار خای مختلف</li>
        <li><span><i class="fa-solid fa-check"></i></span>پرامپت های آماده جهت استفاده در مدل های هوش مصنوعی</li>
        <li><span><i class="fa-solid fa-check"></i></span>چت بات حرفه ای مناسب و ظاهری شکیل</li>
        <li><span><i class="fa-solid fa-check"></i></span>مدل های مختلف همگی در یک پلتفرم</li>
        <li><span><i class="fa-solid fa-check"></i></span>قابل استفاده در بیش از ۴ سیستم عامل</li>
        <li><span><i class="fa-solid fa-check"></i></span>و ...</li>
       </ul>
       <div class="space30"></div>
       <a class="theme-btn2" target="_blank" href="https://app.axonnegar.ir">
        شروع رایگان
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!--===== ABOUT PAGE ATEA END =======-->

  <!--===== ABOUT PAGE ATEA start =======-->
  <div class="about-page-area2 _relative">
   <div class="container">
    <div class="row">
     <div class="col-lg-6 m-auto text-center">
      <div class="headding2">
       <h2>چرا افراد آکسون‌نگار را انتخاب می‌کنند؟</h2>
       <div class="space16"></div>
       <p>
        زیرا ما به جای یک ابزار، شریک رشد هستیم.
        هر ویژگی در پلتفرم ما برای حل یک چالش واقعی در دنیای هوش مصنوعی طراحی شده است.
       </p>
      </div>
     </div>
    </div>
    <div class="space30"></div>
    <div class="row align-items-center">
     <div class="col-lg-7">
      <div class="space30"></div>
      <div class="right-image">
       <img alt="" src="{% static 'img/hero/wallpaper-4.png' %}"/>
      </div>
     </div>
     <div class="col-lg-5">
      <div class="about-page-boxs">
       <div class="single-box">
        <div class="icon">
         <img alt="" src="{% static 'img/icons/about-page-sec-icon1.png' %}"/>
        </div>
        <div class="space20"></div>
        <div class="headding2">
         <h4><a>تحلیل هوشمند محتوا</a></h4>
         <div class="space10"></div>
         <p>
          داده‌های رفتاری کاربران را تحلیل کنید و بفهمید چه نوع محتوایی بیشترین تأثیر را دارد.
         </p>
        </div>
       </div>
       <div class="single-box">
        <div class="icon">
         <img alt="" src="{% static 'img/icons/about-page-sec-icon2.png' %}"/>
        </div>
        <div class="space20"></div>
        <div class="headding2">
         <h4><a>چت‌بات حرفه‌ای</a></h4>
         <div class="space10"></div>
         <p>
          از خلاصه سازی متن تا ایده پردازی با مدل های مختلف، همگی در یک چت‌بات
         </p>
        </div>
       </div>
       <div class="single-box">
        <div class="icon">
         <img alt="" src="{% static 'img/icons/about-page-sec-icon3.png' %}"/>
        </div>
        <div class="space20"></div>
        <div class="headding2">
         <h4><a>شخصی‌سازی تجربه</a></h4>
         <div class="space10"></div>
         <p>
          با شناخت دقیق از برند و لحن شما، محتواهایی منحصربه‌فرد بسازید.
         </p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <img alt="" class="about-shape2" src="{% static 'img/shapes/common-hero-shape2.png' %}"/>
  </div>
  <!--===== ABOUT PAGE ATEA END =======-->

  {% include 'includes/ai-innovation.html' %}

{#  {% include 'includes/brands.html' %}#}

{#  {% include 'includes/cta.html' %}#}

{% endblock %}
