{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!--===== HERO AREA START =======-->
  <div class="pages-hero pages-hero-unic">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-7">
      <div class="main-headding">
       <h1>
        {{ weblog.title }}
       </h1>
       <p>
        {{ weblog.what_you_read }}
       </p>
       <div class="space30">
       </div>
       <div class="all-text-hero">
        <div class="autor-area">
         <div class="image">
          <img alt="" src="{% static 'img/blog/blog-page-smoll-img.png' %}"/>
         </div>
         <div class="headding">
          <h5>
           <a href="#">
            {{ weblog.author.full_name }}
           </a>
          </h5>
          <p>
           {{ weblog.author.role }}
          </p>
         </div>
        </div>
        <div class="tag">
         <a href="#">
          #ایمیل مارکتینگ
         </a>
        </div>
        <div class="date">
         <a href="#">
          <img alt="" src="{% static 'img/icons/blog2-icon1.png' %}"/>
          {{ weblog.created }}
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg-5">
      <div class="hero-image shape-animaiton3">
       <img alt="" src="{{ weblog.main_image.url }}"/>
      </div>
     </div>
    </div>
   </div>
   <img alt="" class="hero-shape1" src="{% static 'img/shapes/common-hero-shape1.png' %}"/>
   <img alt="" class="hero-shape3" src="{% static 'img/shapes/common-hero-shape3.png' %}"/>
  </div>
  <!--===== HERO AREA END =======-->

  <!--===== SIDEBAR AREA START =======-->
  <div class="blog-details-sidebar">
   <div class="container">
    <div class="row">
     <div class="col-lg-8 m-auto">
      <div class="blog-details-all pr60">
       <article>
        <div class="details-box">
         <div class="image">
          <img alt="" src="{{ weblog.cover_image.url }}"/>
         </div>
         <div class="space20">
         </div>

         <div class="space10">
         </div>
         <div class="headding2">
          <h2>
           {{ weblog.title }}
          </h2>
          <div class="space16">
          </div>
          <p>
           {{ weblog.text|safe }}
          </p>
         </div>
         <div class="space40">
         </div>
         <div class="blog-border">
         </div>
         <div class="space40">
         </div>
        </div>
       </article>


       <div class="social-area-all">
        <div class="social-icons">
         <ul>
          <li class="text">
           اشتراک گذاری:
          </li>
          <li>
           <a href="#">
            <i class="fa-brands fa-facebook-f">
            </i>
           </a>
          </li>
          <li>
           <a href="#">
            <i class="fa-brands fa-google-plus-g">
            </i>
           </a>
          </li>
          <li>
           <a href="#">
            <i class="fa-brands fa-linkedin-in">
            </i>
           </a>
          </li>
          <li>
           <a href="#">
            <i class="fa-brands fa-youtube">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       </div>
      </div>
     </div>
    </div>
   </div>

  <!--===== SIDEBAR AREA END =======-->

  <!--===== BLOG AREA START =======-->
  <div class="blog2 sp">
   <div class="container">
    <div class="row">
     <div class="col-lg-6 m-auto text-center">
      <div class="headding2">
       <h2>
        وبلاگ های مشابه
       </h2>
       <div class="space16">
       </div>
       <p>
        مقالات مشابه {{ weblog.title }} را در آکسون‌نگار مطالعه کنید.
       </p>
      </div>
     </div>
    </div>
    <div class="space30">
    </div>
    <div class="row">

    {% for weblog in related_weblogs %}
        <div class="col-lg-6">
          <div class="blog-box">
           <div class="image">
            <img alt="" src="{{ weblog.cover_image.url }}"/>
           </div>
           <div class="headding">
            <div class="tags">
             <a href="#">
              <img alt="" src="{% static 'img/icons/blog2-icon1.png' %}"/>
              {{ weblog.created }}
             </a>
             <a href="#">
              <img alt="" src="{% static 'img/icons/blog2-icon2.png' %}"/>
              {{ weblog.author.full_name }}
             </a>
            </div>
            <h4>
             <a href="{% url 'root:weblog-detail' weblog.slug %}">
              {{ weblog.title }}
             </a>
            </h4>
            <p>
                {{ weblog.what_you_read|safe }}
            </p>
            <a class="learn" href="{% url 'root:weblog-detail' weblog.slug %}">
             ادامه مطلب
             <span>
              <i class="fa-regular fa-arrow-left">
              </i>
             </span>
            </a>
           </div>
          </div>
         </div>
    {% endfor %}

    </div>
   </div>
  </div>
  <!--===== BLOG AREA END =======-->

  {% include 'includes/cta.html' %}

{% endblock %}