{% extends 'base.html' %}
{% load static %}

{% block title %}وبلاگ | آکسون‌نگار{% endblock %}

{% block content %}

  <!--===== HERO AREA START =======-->
  <div class="pages-hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="main-headding">
            <h1>
              وبلاگ هوش مصنوعی آکسون‌نگار
            </h1>
            <p>
              جایی برای یادگیری، الهام و رشد در دنیای هوش مصنوعی و تولید محتوا.
              تازه‌ترین مقالات، نکات آموزشی و تحلیل‌های تخصصی را اینجا بخوانید.
            </p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <form action="#">
            <div class="search-area">
              <div class="input">
                <input placeholder="جستجوی مقالات..." type="text">
              </div>
              <div class="button">
                <button type="submit">
                  <i class="fa-regular fa-magnifying-glass"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <img alt="" class="hero-shape1" src="{% static 'img/shapes/common-hero-shape1.png' %}">
    <img alt="" class="hero-shape3" src="{% static 'img/shapes/common-hero-shape3.png' %}">
  </div>
  <!--===== HERO AREA END =======-->

  <!--===== BLOG AREA START =======-->
  <div class="blog-area-all" style="padding-top: 40px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="all-contact">
            <div class="tab-content" id="pills-tabContent">
              <div aria-labelledby="tab-contact1-tab" class="tab-pane fade show active" id="tab-contact1" role="tabpanel">
                <div class="all-boxs">
                  <div class="row">
                    <!--===== For loop =======-->
                    <div class="col-lg-6">
                      <div class="blog-box">
                        <div class="image">
                          <img alt="" src="{% static 'img/blog/blog2-img1.png' %}"/>
                        </div>
                        <div class="headding">
                          <div class="tags">
                            <a href="#">
                              <img alt="" src="{% static 'img/icons/blog2-icon1.png' %}"/>
                              ۱۰ خرداد 1404
                            </a>
                            <a href="#">
                              <img alt="" src="{% static 'img/icons/blog2-icon2.png' %}"/>
                              خاخام محمود
                            </a>
                          </div>
                          <h4>
                            <a href="{% url 'root:weblog-detail' %}">
                              راهنمای جامع کمپین ایمیلی
                            </a>
                          </h4>
                          <p>
                            به راحتی ایمیل‌های خیره‌کننده طراحی کنید، گردش کار بازاریابی خود را خودکار کنید و مخاطبان خود را با دقت و حداکثر هدف قرار دهید.
                          </p>
                          <a class="learn" href="{% url 'root:weblog-detail' %}">
                            ادامه مطلب
                            <span>
                              <i class="fa-regular fa-arrow-left"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!--===== For loop =======-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space30"></div>
      <div class="row">
        <div class="col-12 m-auto">
          <div class="theme-pagination text-center">
            <ul>
              <li><a href="#"><i class="fa-solid fa-angles-right"></i></a></li>
              <li><a class="active" href="#">01</a></li>
              <li><a href="#">02</a></li>
              <li>...</li>
              <li><a href="#">۱۲</a></li>
              <li><a href="#"><i class="fa-solid fa-angles-left"></i></a></li>
            </ul>
          </div>
            <div class="space30"></div>
        </div>
      </div>
    </div>
  </div>
  <!--===== BLOG AREA END =======-->

  {% include 'includes/cta.html' %}

{% endblock %}
